@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    /* overflow: hidden; *//*to prevent scrolling */
    background: #f2f2f2;
    height: 2300px;

  }
.click{
    display: none;
  }
  
.label{
    position : fixed;
    bottom:2%;
    right : 2%;
    height: 55px;
    width: 55px;
    background: -webkit-linear-gradient(left, #3e71be, #9842fa);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .label i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  .label i.fas{
    opacity: 0;
    pointer-events: none;
  }
  .click:checked ~ .label i.fas{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .click:checked ~ .label i.fab{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .wrapper{
    position : fixed;
    bottom:10%;
    right : 2%;
    /* overflow:auto; */
    max-width: 400px;
    /* resize: both; */
    background: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    display: none;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .click:checked ~ .wrapper{
    display:block;
    /* bottom: 85px; */
    pointer-events: auto;
  }
  .wrapper .head-text{
    line-height: 60px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(left, #3e71be, #9842fa);
  }
  .chat-box .desc-text{
    color: #515365;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;
  }
  .chat-box form{
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 25px;
    border: 1px solid lightgrey;
  }
  .chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .chat-box form .field:last-child{
    margin-bottom: 15px;
  }
.field input,
.field button,
.textarea textarea{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .field input:focus,
form .textarea textarea:focus{
  border-color: skyblue;
}

form .error input,
form .error textarea {
    border-color : red;
    border-width: 2px;
}
.field input::placeholder,
.textarea textarea::placeholder{
  color: rgba(100, 108, 146, 0.76);
  transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
  color: rgb(32, 63, 204);
}
.chat-box form .textarea{
    height: 70px;
    width: 100%;
}
.chat-box form .textarea textarea{
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding: 15px 20px;
    font-size: 16px;
  }
  .chat-box form .field button{
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #3e71be, #9842fa);
    transition: all 0.3s ease;
  }
  .chat-box form .field button:active{
    transform: scale(0.97);
  }
  .img-profil {
    width: 50px;
    height:50px ;
    /* height: 10%; */
    border-radius : 50%;
  }
  .list-contact {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      gap: 2px;
      max-width: 350px;
      max-height: 500px;
      overflow: scroll;
  }
  .list-contact::-webkit-scrollbar
  {
      display: none;
  }
  .contact {
      display: flex;
      gap: 20px;
  }
  .cacher {
      display : hidden;
  }
  .info-perso {
      font-weight: bold;
  }
  .date-message {
      font-size: 12px;
      margin-top: 6px;
  }
  .nbr-non-lu {
      background:green;
      display: inline-block;
      border-radius : 100px;
      font-weight: bold;
      font-size: 18px;
      width : 20px;
      height : 20px;
      padding-top:2px;
      padding-bottom: 2px;
      text-align : center;
  }